.footer {
height:600px;
margin-top:3vw;
background-image: url('../assets/footer-bg.jpg');

}
.col{
    font-size: 3vw;
}
@media (min-width: 768px){
    .col{
        font-size: 2vw;
    }
}

.img_container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:25%;
    width: 100%;
}
.footer_item {
cursor: pointer;

}
.footer_item:hover{color:red}